html {
	height: 100%;
	box-sizing: border-box;
	font-size: 10px; /*for easily calculate up rem*/
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 20px;
	height: 100%;
	color: white;
	font-size: 1.8rem;
	/*use native font-family for fastest rendering*/
	font-family: -apple-system, BlinkMacSystemFont,
		"Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;

	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
}

/**
 * Main container
 */
.main {
	height: 100%;
}

.main__item {
	max-width: 50%;
}

.main__item--top {
	position: absolute;
	top: 2rem;
	left: 2rem;
}

.main__item--center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

.main__item--bottom {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2rem;
}

.main__item--bottom > p {
	margin: 0;
}

/**
 * Quick links
 */
.quick-links {
	list-style: none;
	margin: -2rem;
	padding: 2rem 4rem 4rem 2rem;
	opacity: 0.5;
	-webkit-transition: opacity 200ms;
	-o-transition: opacity 200ms;
	transition: opacity 200ms;
}
	.quick-links:hover {
		opacity: 1;
	}

.quick-links__li {
	display: inline-block;
}

.quick-links__link {
	padding: 1rem;
	display: block;
	color: white;
	font-size: 2rem;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 0 3px rgba(0,0,0,0.5);

	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}
	.quick-links__link:hover {
		-webkit-transform: scale(1.5);
		-ms-transform: scale(1.5);
		-o-transform: scale(1.5);
		transform: scale(1.5);
	}

/*Fixed width for text link*/
.quick-links__link--fw {
	width: 4rem;
	text-align: center;
}

/**
 * Quotes
 */
.quotes {
	text-align: center;
}

.quotes__text,
.quotes__author {
	transition: all 500ms;
	transform: translateY(0);
}

.quotes:hover > .quotes__text {
	transform: translateY(-1.3em);
}

.quotes:hover > .quotes__author {
	visibility: visible;
	opacity: 1;
}

.quotes__text::before {
	content: '“';
}

.quotes__text::after {
	content: '”';
}

/* hidden by default */
.quotes__author {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	transition-duration: 500ms;
}

/**
 * The big clock
 */
.clock {
	font-size: 13.5rem;
	font-weight: 600;
	letter-spacing: -3px;
}

/**
 *
 */
.greeting {
	/*font-weight: normal;*/
	font-size: 4rem;
	margin: 0;
}
