/**
 * Modal popup
 * Shamelessly copied from: http://tympanus.net/codrops/2013/06/25/nifty-modal-window-effects/;
 * Note: .modal-overlay is now parent of .modal
 */
.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0, 0, 0, 0.3);
	transition: all 0.3s;
}

.modal-overlay--active {
	opacity: 1;
	visibility: visible;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	max-width: 1024px;
	min-width: 320px;
	max-height: 80%;
	overflow: hidden;
	visibility: hidden;
	backface-visibility: hidden;
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	padding-top: 4.5rem; /* space for heading */
}

.modal-overlay--active .modal {
	visibility: visible;
}

.modal__close {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 2.2rem;
}

/* modal content styles */
.modal__content {
	background: rgba(0, 0, 0, 0.5);
	position: relative;
	border-radius: 3px;
	margin: 0 auto;
	height: auto;
	overflow: auto;
	max-height: 70vh;
	min-height: 40vh;
}

.modal__title {
	margin: 0;
	padding: 0.5em;
	text-align: center;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 3px 3px 0 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.modal__body {
	padding: 2rem;
}

/* Effect 3: Slide from the bottom, change from origin: apply to container, to avoid
conflicting with the frosty glass effect */
.modal--slide-up {
	transform: translateX(-50%) translateY(-40%);
	opacity: 0;
	transition: all 0.3s 0.3s; /* delay to avoid overheating rendering and make framerate drop */
}

.modal-overlay--active .modal--slide-up {
	transform: translateX(-50%) translateY(-50%);
	opacity: 1;
}

/**
 * Settings Panel
 */
.settings__label {
	display: inline-block;
	margin-right: 1rem;
	padding: 1rem 0.5rem;
}

[id='setting-wallpaper-mode-user']:checked ~ [id='setting-photo-selector'] {
	display: inline-block;
}

/**
 * File input
 */
.file-input {
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	max-width: 20rem;
	text-overflow: ellipsis;
	vertical-align: middle;
}

.file-input:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

.file-input > [type='file'] {
	/* hide native input UI */
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
